$primary: #cf253e;
$background: #FAFAFA; //F2F5EA
$secondary: #772D8B;
$text-primary: #FAFAFA;
$dark-text-primary: #060000;

/*
// Started with this
$primary: #ff00ff;
$background: #fafafa;
$secondary: #cf00cf;
$text-primary: #fafafa;
$text-secondary: #ffc5ff;
$dark-text-primary: #460046;
*/

/*
// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
*/